{% extends "proposals/base.html" %}
{% import "inc/forms.html" as forms %}
{% set ctx = _context %}

{% block content %}
{% spaceless %}
<ol class="breadcrumb">
  <li>{{ 'nav-proposals'|message }}</li>
  <li><a href="{{ urlFor( 'proposals_add' ) }}">{{ 'nav-proposals-add'|message }}</a></li>
</ol>

{% if form.hasErrors %}
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p class="lead">{{ 'proposals-add-error'|message }}</p>
</div>
{% endif %}

<form class="form-horizontal" method="post" action="{{ urlFor( 'proposals_add_post' ) }}">
  <input type="hidden" name="{{ csrf_param }}" value="{{ csrf_token }}" />
  {{ forms.text( ctx, 'proposals-add-title', 'title', { 'required':true } ) }}
  {{ forms.url( ctx, 'proposals-add-url', 'url', { 'required':true } ) }}
  {{ forms.select( ctx, 'proposals-add-theme', 'theme', { 'online':'online', 'offline':'offline', 'tool':'tool', 'research':'research' }, { 'required':true } ) }}
  {{ forms.number( ctx, 'proposals-add-amount', 'amount' ) }}
  {{ forms.textArea( ctx, 'proposals-add-description', 'description' ) }}
  <input type="submit" class="btn btn-primary" id="submit" name="submit" value="{{ 'proposals-add-submit'|message }}" />
</form>
{% endspaceless %}
{% endblock content %}

