{% extends "proposals/base.html" %}
{% import "inc/forms.html" as forms %}
{% set ctx = _context %}

{% block subtitle %}{{ 'nav-proposals-edit'|message }}{% endblock %}
{% block content %}
{% spaceless %}
<ol class="breadcrumb">
  <li><a href="{{ urlFor( 'proposals_home' ) }}">{{ 'nav-proposals'|message }}</a></li>
  {% if id != 'new' %}
  <li><a href="{{ urlFor( 'proposals_view', { 'id': id } ) }}">{{ form.get( 'title' )|default( id ) }}</a></li>
  {% else %}
  <li>{{ id }}</li>
  {% endif %}
  <li><a href="{{ urlFor( 'proposals_edit', { 'id': id } ) }}">{{ 'nav-proposals-edit'|message }}</a></li>
</ol>

{% if form.hasErrors %}
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p class="lead">{{ 'proposals-edit-error'|message }}</p>
</div>
{% endif %}

<form class="form-horizontal" method="post" action="{{ urlFor( 'proposals_edit_post', { 'id': id  } ) }}">
  <input type="hidden" name="{{ csrf_param }}" value="{{ csrf_token }}" />
  <input type="hidden" name="id" value="{{ id }}" />
  {{ forms.text( ctx, 'proposals-edit-title', 'title', { 'required':true } ) }}
  {{ forms.url( ctx, 'proposals-edit-url', 'url', { 'required':true } ) }}
  {{ forms.select( ctx, 'proposals-edit-theme', 'theme', { 'online':'theme-online'|message, 'offline':'theme-offline'|message, 'tool':'theme-tool'|message, 'research':'theme-research'|message }, { 'required':true } ) }}
  {{ forms.number( ctx, 'proposals-edit-amount', 'amount', { 'placeholder':'USD' } ) }}
  {{ forms.textArea( ctx, 'proposals-edit-description', 'description', { 'elmclass':'monospace' } ) }}
  {{ forms.textArea( ctx, 'proposals-edit-notes', 'notes', { 'elmclass':'monospace' } ) }}
  <button type="submit" class="btn btn-primary pull-right" id="submit" name="submit">
    <i class="glyphicon glyphicon-ok"></i> {{ 'proposals-edit-submit'|message }}
  </button>
</form>
{% endspaceless %}
{% endblock content %}

