{% extends 'proposals/base.html' %}
{% set route = app.router.getCurrentRoute.getName %}
{% set ctx = _context %}

{% macro sortHeader( label, column, ctx, class ) %}
{% set sorted = ctx.s == column %}
{% if sorted %}
  {% set o = ctx.o == 'desc' ? 'desc' : 'asc' %}
  {% set nextO = o == 'asc' ? 'desc' : 'asc' %}
{% else %}
  {% set nextO = 'asc' %}
{% endif %}
<th><a class="sortable {{ sorted ? "sorted-#{o}" : 'unsorted' }} {{ class|default( '' ) }}" href="{{ urlFor( ctx.route, { 'campaign':campaign } ) }}?{{ qsMerge( { 's':column, 'o':nextO } ) }}">{{ label|message }}</a></th>
{% endmacro %}

{% block subtitle %}{{ 'nav-proposals-search'|message }}{% endblock %}
{% block content %}
{% spaceless %}
<ol class="breadcrumb">
  <li><a href="{{ urlFor( 'proposals_home', { 'campaign':campaign } ) }}">{{ 'nav-proposals'|message }}</a></li>
  <li><a href="{{ urlFor( route, { 'campaign':campaign } ) }}">{{ 'nav-proposals-search'|message }}</a></li>
</ol>

<form class="form-inline" method="get" action="{{ urlFor( route, { 'campaign':campaign } ) }}" role="form">
  <input type="hidden" name="p" value="0">

  <div class="form-group">
    <label class="sr-only" for="campaign-select">{{ 'proposals-search-campaigns-empty'|message }}</label>
    <select id="campaign-select" name="campaign-select" class="form-control">
      <option value="">{{ 'proposals-search-campaigns-empty'|message }}</option>
      {% for id, name in campaigns %}
        <option value="{{ id }}" {{ id == campaign-select ? 'selected="selected"' }}>{{ name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label class="sr-only" for="t">{{ 'proposals-search-title'|message }}</label>
    <input type="text" id="t" name="t" class="form-control" placeholder="{{ 'proposals-search-title'|message }}" value="{{ t }}">
  </div>

  <div class="form-group">
    <label class="sr-only" for="th">{{ 'proposals-search-theme'|message }}</label>
    <select id="th" name="th" class="form-control">
      <option value="">{{ 'proposals-search-theme-empty'|message }}</option>
      {% for val in [ 'online', 'offline', 'tool', 'research' ] %}
      <option value="{{ val }}" {{ val == th ? 'selected="selected"' }}>{{ "theme-#{val}"|message }}</option>
      {% endfor %}
    </select>
  </div>

  {% if isadmin|default(false) %}
  <div class="form-group">
    <label class="sr-only" for="stat">{{ 'proposals-search-status'|message }}</label>
    <select id="stat" name="stat" class="form-control">
      <option value="">{{ 'proposals-search-status-empty'|message }}</option>
      {% for val in [ 'open', 'approved', 'rejected', 'abandoned' ] %}
      <option value="{{ val }}" {{ val == stat ? 'selected="selected"' }}>{{ "status-#{val}"|message }}</option>
      {% endfor %}
    </select>
  </div>
  {% endif %}

  <div class="form-group">
    <button type="submit" class="btn btn-sm btn-primary">
      <i class="glyphicon glyphicon-search"></i>
      {{ 'proposals-search-go'|message }}
    </button>
  </div>
</form>

<p></p>

{% if found is not null %}
<table class="table table-striped table-hover table-condensed table-responsive">
  <tr>
    {{ _self.sortHeader( 'proposals-list-id', 'id', ctx, 'text-right' ) }}
    {{ _self.sortHeader( 'proposals-list-title', 'title', ctx ) }}
    {{ _self.sortHeader( 'proposals-list-theme', 'theme', ctx ) }}
    {{ _self.sortHeader( 'proposals-list-amount', 'amount', ctx, 'text-right' ) }}
    {{ _self.sortHeader( 'proposals-list-reviews', 'reviews', ctx, 'text-right' ) }}
    {{ _self.sortHeader( 'proposals-list-myreviews', 'myreviews', ctx, 'text-center' ) }}
  </tr>
  {% for row in records %}
  <tr>
    <td class="text-right">{{ row.id }}</td>
    <td><a href="{{ urlFor( 'proposals_view', { 'id':row.id, 'campaign':campaign } ) }}">{{ row.title }}</a></td>
    <td>{{ row.theme }}</td>
    <td class="text-right">{{ row.amount|number_format }}</td>
    <td class="text-right">{{ row.review_count|number_format }}</td>
    <td class="text-center"><i class="glyphicon glyphicon-{{ row.myreviews ? 'ok' }}"></i></td>
  </tr>
  {% else %}
  <tr><td colspan="8">{{ 'no-results'|message }}</td></tr>
  {% endfor %}
</table>

<div class="row">
  <div class="col-md-3">
    <p class="text-right">{{ 'page-of-pages'|message(  p + 1, pages ) }}</p>
  </div>
  <div class="col-md-9">
    <ul class="pagination">
      {% if p > 0 %}
      <li><a href="{{ urlFor( route, { 'campaign':campaign } ) }}?{{ qsMerge( { 'p':(p - 1) } ) }}" id="prev">&laquo;</a></li>
      {% else %}
      <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% if left > 0 %}<li class="disabled"><span>&hellip;</span></li>{% endif %}
      {% for i in left .. right %}
      <li class="{{ i == p ? 'active' }}"><a href="{{ urlFor( route ) }}?{{ qsMerge( { 'p':i } ) }}" id="prev">{{ i + 1 }}</a></li>
      {% endfor %}
      {% if right < pages - 1 %}<li class="disabled"><span>&hellip;</span></li>{% endif %}
      {% if p + 1 < pages %}
      <li><a href="{{ urlFor( route ) }}?{{ qsMerge( { 'p':(p + 1) } ) }}" >&raquo;</a></li>
      {% else %}
      <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  </div>
</div>
{% endif %}
{% endspaceless %}
{% endblock content %}
