{% extends 'proposals/base.html' %}
{% set route = app.router.getCurrentRoute.getName %}

{% block content %}
{% spaceless %}
<ol class="breadcrumb">
  <li>{{ 'nav-proposals'|message }}</li>
  <li>{{ 'nav-proposals-search'|message }}</li>
</ol>

<form class="form-inline" method="get" action="{{ urlFor( route ) }}" role="form">
  <input type="hidden" name="p" value="0">
  <div class="form-group">
    <label class="sr-only" for="t">{{ 'proposals-search-title'|message }}</label>
    <input type="text" id="t" name="t" class="form-control" placeholder="{{ 'proposals-search-title'|message }}" value="{{ t }}">
  </div>
  <div class="form-group">
    <label class="sr-only" for="th">{{ 'proposals-search-theme'|message }}</label>
    <select id="th" name="th" class="form-control">
      <option value="">{{ 'proposals-search-theme-empty'|message }}</option>
  {{ forms.select( ctx, 'proposals-edit-theme', 'theme', { 'online':'online', 'offline':'offline', 'tool':'tool', 'research':'research' }, { 'required':true } ) }}
      {% for val in [ 'online', 'offline', 'tool', 'research' ] %}
      <option value="{{ val }}" {{ val == th ? 'selected="selected"' }}>{{ val }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-sm btn-primary">
      <i class="glyphicon glyphicon-search"></i>
      {{ 'proposals-search-go'|message }}
    </button>
  </div>
</form>

<p></p>

{% if found is not null %}
<table class="table table-striped table-hover table-condensed table-responsive">
  <tr>
    <th>{{ 'proposals-list-id'|message }}</th>
    <th>{{ 'proposals-list-title'|message }}</th>
    <th>{{ 'proposals-list-url'|message }}</th>
    <th>{{ 'proposals-list-theme'|message }}</th>
    <th>{{ 'proposals-list-amount'|message }}</th>
    <th>{{ 'proposals-list-reviews'|message }}</th>
    <th>{{ 'proposals-list-myreviews'|message }}</th>
  </tr>
  {% for row in records %}
  <tr>
    <td>{{ row.id }}</td>
    <td><a href="{{ urlFor( 'proposals_view', { 'id':row.id } ) }}">{{ row.title }}</a></td>
    <td><a href="{{ row.url|raw }}" target="_blank">{{ row.url }}</a></td>
    <td>{{ row.theme }}</td>
    <td class="text-right">{{ row.amount|number_format }}</td>
    <td class="text-right">{{ row.review_count|number_format }}</td>
    <td class="text-center"><i class="glyphicon glyphicon-{{ row.my_review_count ? 'ok' }}"></i></td>
  </tr>
  {% else %}
  <tr><td colspan="8">{{ 'no-results'|message }}</td></tr>
  {% endfor %}
</table>

<div class="row">
  <div class="col-md-3">
    <p class="text-right">{{ 'page-of-pages'|message(  p + 1, pages ) }}</p>
  </div>
  <div class="col-md-9">
    <ul class="pagination">
      {% if p > 0 %}
      <li><a href="{{ urlFor( route ) }}?{{ qsMerge( { 'p':(p - 1) } ) }}" id="prev">&laquo;</a></li>
      {% else %}
      <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% if left > 0 %}<li class="disabled"><span>&hellip;</span></li>{% endif %}
      {% for i in left .. right %}
      <li class="{{ i == p ? 'active' }}"><a href="{{ urlFor( route ) }}?{{ qsMerge( { 'p':i } ) }}" id="prev">{{ i + 1 }}</a></li>
      {% endfor %}
      {% if right < pages - 1 %}<li class="disabled"><span>&hellip;</span></li>{% endif %}
      {% if p + 1 < pages %}
      <li><a href="{{ urlFor( route ) }}?{{ qsMerge( { 'p':(p + 1) } ) }}" >&raquo;</a></li>
      {% else %}
      <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  </div>
</div>
{% endif %}
{% endspaceless %}
{% endblock content %}
