{% import "inc/helpers.html" as helpers %}

{% spaceless %}
<article id="summary" class="panel-group">
  <section class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        {{ 'proposal-summary'|message }}
        <a class="accordion-toggle {% if myreview is empty %}collapsed{% endif %}" data-toggle="collapse" href="#summary-body"></a> </h2>
    </div>
    <div id="summary-body" class="panel-body panel-collapse collapse {% if myreview is not empty %}in{% endif %}">
      <dl class="dl-horizontal">
        <dt>{{ 'summary-list-reviewers'|message }}</dt>
        <dd><ul class="list-inline">
            <li>{{ reviews|length }}</li>
            {% if isadmin|default(false) %}
              {% for review in reviews %}
                <li class="text-muted">{{ review.reviewer_name }}</li>
              {% endfor %}
            {% endif %}
        </ul></dd>
      </dl>
      {{ helpers.criteria( reviews, 'impact', _context ) }}
      {{ helpers.criteria( reviews, 'innovation', _context ) }}
      {{ helpers.criteria( reviews, 'ability', _context ) }}
      {{ helpers.criteria( reviews, 'engagement', _context ) }}
      <section class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'review-recommendation'|message }}
        </div>
        <table class="table table-bordered table-hover table-condensed">
          <thead>
            <tr>
              <th>{{ 'form-yes'|message }}</th>
              <th>{{ 'form-conditional'|message }}</th>
              <th>{{ 'form-neutral'|message }}</th>
              <th>{{ 'form-no'|message }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ helpers.count( reviews, 'recommendation', 2 ) }}</td>
              <td>{{ helpers.count( reviews, 'recommendation', 1 ) }}</td>
              <td>{{ helpers.count( reviews, 'recommendation', 0 ) }}</td>
              <td>{{ helpers.count( reviews, 'recommendation', -1 ) }}</td>
            </tr>
          </tbody>
        </table>
        <section class="panel panel-default muted">
          <div class="panel-heading">
            <a class="accordion-toggle collapsed" data-toggle="collapse" href="#recommendation-notes">
              <span class="text-muted">{{ 'reviews-notes'|message }}</span>
            </a>
          </div>
          <div id="recommendation-notes" class="panel-body panel-collapse collapse">
            <ul class="list-group">
            {% for review in reviews %}
              {% if review.comments %}
              <li class="list-group-item clearfix">
                {{ review.comments }}
                {% if isadmin|default( false ) %}
                <cite class="pull-right text-muted">&mdash; {{ review.reviewer_name }}</cite>
                {% endif %}
              </li>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
        </section>
      </section>
    </div>
  </section>
</article>
{% endspaceless %}
