{# Edit form for a review #}
{% import "inc/forms.html" as forms %}
{% import _self as local %}
{% set ctx = _context %}

{% spaceless %}
<article id="review" class="panel-group ">
  <section class="panel {{ myreview is empty ? 'panel-success' : 'panel-default' }}">
    <div class="panel-heading">
      <h2 class="panel-title">
        {{ 'proposals-review'|message }}
        <a class="accordion-toggle {% if myreview is not empty %}collapsed{% endif %}" data-toggle="collapse" href="#review-body"></a>
      </h2>
    </div>
    <div id="review-body" class="panel-body panel-collapse">
      {{ 'review-instructions'|message|raw|wikitext }}
      <form method="post" action="{{ urlFor( 'proposals_review_post', { 'id': proposal.id } ) }}">
        <input type="hidden" name="{{ csrf_param }}" value="{{ csrf_token }}" />
        <input type="hidden" name="proposal" value="{{ proposal.id }}" />

        {% for q in questions %}
          <section class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title"><a href="https://meta.wikimedia.org/wiki/Template:Inspire/Review/Rubric">
                  {{ q.question_title }}
              </a></h4>
          </div>
          <div class="panel-body">
            <pre>{{ q.question_body }}</pre>
            {% if q.type == 'score' %}
              {{ ctx.forms.radioList( ctx, 'review-mandatory-question', "points[#{q.id}]", {
                1:'review-rank-1', 2:'review-rank-2',
                3:'review-rank-3', 4:'review-rank-4',
                5:'review-rank-5', 6:'review-rank-6',
                7:'review-rank-7', 8:'review-rank-8',
                9:'review-rank-9', 10:'review-rank-10'
              }, { 'required':true,
                 'value': myreview[loop.index0].points ?: '5',
               } )
              }}
            {% elseif q.type == 'recommend' %}
              {{ ctx.forms.radioList( ctx, 'review-mandatory-question', "points[#{q.id}]", {
                4:'form-yes',
                3:'form-conditional',
                2:'form-neutral',
                1:'form-no'
            }, { 'required':true,
                 'value': myreview[loop.index0].points ?: '2'
               } )
              }}
            {% endif %}
          <div class="form-group">
            <label for= "notes[{{ q.id }}]" class="control-label">{{ q.question_footer }}</label>
              <textarea name="notes[{{ q.id }}]" class="form-control">{{ myreview[loop.index0].comments }}
              </textarea>
            </div>
          </div>
          </section>
          {% endfor %}

        <div class="panel-footer text-right">
          <button type="submit" class="btn btn-primary" id="submit" name="submit">
            <i class="glyphicon glyphicon-ok"></i> {{ 'review-submit'|message }}
          </button>
        </div>
      </form>
    </div>
  </section>
</article>
{% endspaceless %}
