{% import _self as helpers %}

{% macro criteria( reviews, ques, ctx, type ) %}
{% import _self as helpers %}
<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ ques.question_title|wikitext }}</h3>
  </div>
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        {% if type == 'score' %}
          <th>{{ 'summary-list-mean'|message }}</th>
          <th>{{ 'summary-list-median'|message }}</th>
          <th>{{ 'summary-list-range'|message }}</th>
          <th>{{ 'summary-list-stddev'|message }}</th>
        {% elseif type == 'recommend' %}
          <th>{{ 'form-yes'|message }}</th>
          <th>{{ 'form-conditional'|message }}</th>
          <th>{{ 'form-neutral'|message }}</th>
          <th>{{ 'form-no'|message }}</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
        {% if type == 'score' %}
          {{ helpers.scorestats( reviews, ques.id ) }}
        {% elseif type == 'recommend' %}
          {{ helpers.recommendstats( reviews, ques.id ) }}
        {% endif %}
    </tbody>
  </table>
  <section class="panel panel-default muted">
    <div class="panel-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" href="#{{ ques.id }}-notes">
        <span class="text-muted">{{ 'reviews-notes'|message }}</span>
      </a>
    </div>
    <div id="{{ ques.id }}-notes" class="panel-body panel-collapse collapse">
      <ul class="list-group">
      {% for review in reviews %}
        {% if review.comments %}
        <li class="list-group-item clearfix">
          {{ review.comments }}
          {% if ctx.isadmin|default( false ) %}
          <cite class="pull-right text-muted">&mdash; {{ review.reviewer_name }}</cite>
          {% endif %}
        </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </section>
</section>
{% endmacro %}

{% macro scorestats( reviews, qid ) %}
{% import _self as helpers %}
{% set scores = [] %}
{% set sum = 0 %}
{% set squares = 0 %}
{% for review in reviews %}
  {% if review.question == qid %}
    {% set val = review.points %}
    {% set scores = scores|merge( [ val ] ) %}
    {% set sum = sum + val %}
    {% set squares = squares + ( val * val ) %}
  {% endif %}
{% endfor %}
<tr>
  <td class="text-right">{{ ( sum / scores|length )|number_format( 2 ) }}</td>
  <td class="text-right">{{ helpers.median( scores ) }}</td>
  <td class="text-right">{{ max( scores ) - min( scores ) }}</td>
  <td class="text-right">{{ ( ( squares - ( ( sum * sum ) / scores|length ) ) ** ( 1 / 2 ) )|number_format( 2 ) }}</td>
</tr>
{% endmacro %}

{% macro recommendstats( reviews, qid ) %}
{% set countyes = 0 %}
{% set countconditional = 0 %}
{% set countneutral = 0 %}
{% set countno = 0 %}
{% for review in reviews %}
  {% if review.question == qid %}
    {% if review.points == '-1' %}
      {% set countno = countno + 1 %}
    {% elseif review.points == '0' %}
      {% set countneutral = countneutral + 1 %}
    {% elseif review.points == '1' %}
      {% set countconditional = countconditional + 1 %}
    {% elseif review.points == '2' %}
      {% set countyes = countyes + 1 %}
    {% endif %}
  {% endif %}
{% endfor %}
<tr>
  <td class="text-right">{{ countyes }}</td>
  <td class="text-right">{{ countconditional }}</td>
  <td class="text-right">{{ countneutral }}</td>
  <td class="text-right">{{ countno }}</td>
</tr>
{% endmacro %}

{% macro median( list, precision = 2 ) %}
{% set midlow = ( list|length / 2 )|round( 1, 'floor') %}
{% set midhi = ( list|length / 2 )|round( 1, 'ceil') %}
{{ ( ( list[midlow] + list[midhi] ) / 2 )|number_format( precision ) }}
{% endmacro %}

{% macro count( reviews, name, value ) %}
{% set count = 0 %}
{% for review in reviews %}
  {% if review[name] == value %}
    {% set count = count + 1 %}
  {% endif %}
{% endfor %}
{{ count }}
{% endmacro %}

{% spaceless %}
<article id="summary" class="panel-group">
  <section class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        {{ 'proposal-summary'|message }}
        <a class="accordion-toggle {% if myreview is empty %}collapsed{% endif %}" data-toggle="collapse" href="#summary-body"></a> </h2>
    </div>
    <div id="summary-body" class="panel-body panel-collapse collapse {% if myreview is not empty %}in{% endif %}">
      <dl class="dl-horizontal">
        <dt>{{ 'summary-list-reviewers'|message }}</dt>
        <dd><ul class="list-inline">
            <li>{{ reviews|length }}</li>
            {% if isadmin|default(false) %}
              {% for review in reviews %}
                <li class="text-muted">{{ review.reviewer_name }}</li>
              {% endfor %}
            {% endif %}
        </ul></dd>
      </dl>
      {% for q in questions %}
        {% if q.type == 'score' %}
          {{ helpers.criteria( reviews, q, _context, 'score' ) }}
        {% elseif q.type == 'recommend' %}
          {{ helpers.criteria( reviews, q, _context, 'recommend' ) }}
        {% endif %}
      {% endfor %}
    </div>
  </section>
</article>
{% endspaceless %}
