body {
  padding-top:48px;
  padding-bottom:20px;
}

a {
  color:#00f;
}
a:visited {
  color:#800080;
}

.navbar-brand {
  padding:6px;
}
.navbar-text {
  margin-top:12px;
  margin-bottom:0;
}

.footer-links {
  list-style:none;
  padding-left:0;
}
.footer-links li {
  display:inline;
  margin:0;
}
.footer-links li:after {
 content:'·';
 padding:0 .5em;
}
.footer-links li.last:after {
 content:'';
 padding:0;
}

.langlabel {
  display:none;
  margin-right:.5em;
}

.required:after {
  content:' *';
}

.pagination {
  margin:0;
}

.monospace {
  font-family:monospace;
}

.form-inline .form-group,
.form-inline .checkbox {
  margin-right:.5em;
}

@media (min-width:768px) {
  .dl-horizontal.wide dt {
    width:200px;
  }
  .dl-horizontal.wide dd {
    margin-left:220px;
  }
}

.panel-collapse > .table,
.panel-body > dl {
  margin-bottom:0;
}

.panel-body > dl + .well {
  margin-top:15px;
}

/* http://stackoverflow.com/a/18568997 */
.panel-heading .accordion-toggle:after {
  font-family:'Glyphicons Halflings';
  content:"\e114";
  float:right;
}
.panel-heading .accordion-toggle.collapsed:after {
  content:"\e080";
}
.panel-default .accordion-toggle:after {
  color:grey;
}

a.sortable {
  display:block;
  padding-right:18px;
  background-repeat: no-repeat;
  background-position: center right;
  color:inherit;
}
a.sortable.unsorted {
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
}
a.sortable.sorted-asc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
a.sortable.sorted-desc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
