{% extends "admin/base.html" %}

{% set errors = flash.form_errors|default([]) %}
{% if flash.form_defaults|default(false) %}
{% set ques = flash.form_defaults %}
{% endif %}

{% block javascript %}
<script src="{{ siteUrl( 'js/campaign.js' ) }}"></script>
{% endblock %}

{% block subtitle %}{{ 'nav-campaigns'|message }}{% endblock %}
{% block content %}

{% spaceless %}
<ol class="breadcrumb">
  <li>{{ 'nav-admin'|message }}</li>
  <li><a href="{{ urlFor( 'admin_campaigns' ) }}">{{ 'nav-campaigns'|message }}</a></li>
  <li>{{ id }}</li>
</ol>

{% if id != 'new' and campaign.status == 1 %}
  <div class="col-sm-10 col-sm-offset-2">
    <form class="form-horizontal" method="post" action="{{ urlFor( 'admin_campaign_end', { 'id': id } ) }}">
      <input type="hidden" name="{{ csrf_param }}" value="{{ csrf_token }}" />
      <div class="form-group">
        <input type="submit" class="btn btn-danger" id="end" name="end" value="{{ 'admin-campaign-end-button'|message }}"/>
      </div>
    </form>
  </div>
{% endif %}

<form class="form-horizontal" method="post" action="{{ urlFor( 'admin_campaign_post' ) }}">
  <input type="hidden" name="{{ csrf_param }}" value="{{ csrf_token }}" />
  <input type="hidden" name="id" value="{{ id }}"/>

  <div class="form-group {{ 'name' in errors ? 'has-error' }}">
    <label for="name" class="col-sm-2 control-label">
      {{ 'admin-campaign-new'|message }}
    </label>
    <div class="col-sm-6">
      <input type="text" class="form-control" name="name" id="name" placeholder="Must be unique" value="{{ campaign.name }}" required="required">
    </div>
  </div>

  <div class="form-group {{ 'start_date' in errors ? 'has-error' }}">
    <label for="start_date" class="col-sm-2 control-label">
      {{ 'admin-campaign-start-date'|message }}
    </label>
    <div class="col-sm-6">
      <input type="date" class="form-control" name="start_date" id="start_date" placeholder="YYYY-MM-DD HH:MM:SS (UTC only)" value="{{ campaign.start_date }}" required="required">
    </div>
  </div>

  <div class="form-group {{ 'end_date' in errors ? 'has-error' }}">
    <label for="end_date" class="col-sm-2 control-label">
      {{ 'admin-campaign-end-date'|message }}
    </label>
    <div class="col-sm-6">
      <input type="date" class="form-control" name="end_date" id="end_date" placeholder="YYYY-MM-DD HH:MM:SS (UTC only)" value="{{ campaign.end_date }}" required="required">
    </div>
  </div>

{% for row in ques %}
  <div class="form-group">
    <label for="questions[{{ row.id }}]" class="col-sm-2 control-label">
      {{ 'admin-campaign-question'|message( loop.index ) }}
    </label>
    <div class="col-sm-10 {{ "qtitles[#{row.id}]" in errors ? 'has-error' }}">
      <input type="text" class="form-control" name="qtitles[{{ row.id }}]" value="{{ row.question_title }}" placeholder="Add question title here" required>
    </div>
    <div class="col-sm-10 col-sm-offset-2 {{ "questions[#{row.id}]" in errors ? 'has-error' }}">
      <textarea class="form-control" rows="6" name="questions[{{ row.id }}]" placeholder="{{ 'admin-campaign-question-placeholder'|message }}">{{ row.question_body }}</textarea>
    </div>
    <div class="col-sm-10 col-sm-offset-2 {{ "qfooters[#{row.id}]" in errors ? 'has-error' }}">
      <input type="text" class="form-control" name="qfooters[{{ row.id }}]" value="{{ row.question_footer }}" placeholder="Add question footer string here" required>
    </div>
    <div class="col-sm-10 col-sm-offset-2 {{ "qreporthead[#{row.id}]" in errors ? 'has-error' }}">
      <input type="text" class="form-control" name="qreporthead[{{ row.id }}]" value="{{ row.report_head }}" placeholder="Report column header" required>
    </div>
  </div>
{% endfor %}

  <div class="form-group">
    <label for="reviewers" class="col-sm-2 control-label">
      {{ 'admin-campaign-reviewers'|message }}
    </label>
    <div class="col-sm-6 reviewer-group">
      <table class="table table-responsive table-condensed table-bordered">
        <thead>
          <tr>
            <th><input type="checkbox" id="toggle-all"></th>
            <th>Username</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          {% for row in rev %}
          <tr>
            <td><input type="checkbox" name="reviewer[]" value="{{ row.id }}" {{ row.val == 1 ? 'checked="checked"' }}></td>
            <td>{{ row.username }}</td>
            <td>{{ row.email }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-sm-10 col-sm-offset-2">
    <div class="form-group">
      <input type="submit" class="btn btn-default" id="save" name="save" value="{{ 'admin-campaign-save'|message }}"/>
    </div>
  </div>
</form>

{% endspaceless %}
{% endblock content %}
