{% extends "admin/base.html" %}
{% set route = app.router.getCurrentRoute.getName %}
{% set ctx = _context %}

{% macro showBool( val ) %}
{{ val ? 'admin-users-yes'|message : 'admin-users-no'|message }}
{% endmacro %}

{% macro sortHeader( label, column, ctx, class ) %}
{% set sorted = ctx.s == column %}
{% if sorted %}
  {% set o = ctx.o == 'desc' ? 'desc' : 'asc' %}
  {% set nextO = o == 'asc' ? 'desc' : 'asc' %}
{% else %}
  {% set nextO = 'asc' %}
{% endif %}
<th><a class="sortable {{ sorted ? "sorted-#{o}" : 'unsorted' }} {{ class|default( '' ) }}" href="{{ urlFor( ctx.route ) }}?{{ qsMerge( { 's':column, 'o':nextO } ) }}">{{ label|message }}</a></th>
{% endmacro %}

{% block subtitle %}{{ 'nav-campaigns'|message }}{% endblock %}
{% block content %}
{% spaceless %}
<ol class="breadcrumb">
  <li>{{ 'nav-admin'|message }}</li>
  <li>{{ 'nav-campaigns'|message }}</li>
</ol>

<form class="form-inline" method="get" action="{{ urlFor( route ) }}" role="form">
  <input type="hidden" name="p" value="0">
  <div class="form-group">
    <label class="sr-only" for="name">{{ 'admin-campaigns-name'|message }}</label>
    <input type="text" id="name" name="name" class="form-control" placeholder="{{ 'admin-campaigns-name'|message }}" value="{{ name }}">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-sm btn-primary">
      <i class="glyphicon glyphicon-search"></i>
      {{ 'admin-campaigns-form-go'|message }}
    </button>
  </div>

  {% if isadmin|default(false) %}
  <div class="form-group">
    <a class="btn btn-sm btn-default" href="{{ urlFor( 'admin_campaign', { 'id':'new' } ) }}">
      <i class="glyphicon glyphicon-plus"></i>
      {{ 'admin-campaigns-add'|message }}
    </a>
  </div>
  {% endif %}
</form>

<p></p>

<table class="table table-striped table-hover table-condensed table-responsive">
  <tr>
    {{ _self.sortHeader( 'admin-campaigns-id', 'id', ctx, 'text-right' ) }}
    {{ _self.sortHeader( 'admin-campaigns-name', 'name', ctx ) }}
    {{ _self.sortHeader( 'admin-campaigns-start', 'start', ctx ) }}
    {{ _self.sortHeader( 'admin-campaigns-end', 'end', ctx ) }}
    {{ _self.sortHeader( 'admin-campaigns-active', 'status', ctx ) }}
    {{ _self.sortHeader( 'admin-campaigns-reviewers-report', 'reviewer', ctx ) }}
  </tr>
  {% for row in records %}
  <tr class="{{ cycle( [ 'oddrow', 'evenrow' ], loop.index ) }}">
    <td class="text-right">{{ row.id }}</td>
    <td><a href="{{ urlFor( 'admin_campaign', { 'id':row.id} ) }}">{{ row.name }}</a></td>
    <td>{{ row.start_date }}</td>
    <td>{{ row.end_date }}</td>
    <td>{{ _self.showBool( row.status ) }}</td>
    <td><a href="{{ urlFor( 'admin_campaign_reviewers', { 'id':row.id} ) }}">{{ 'admin-campaigns-reviewers-report'|message }}</a></td>
  </tr>
  {% else %}
  <tr><td colspan="8">{{ 'no-results'|message }}</td></tr>
  {% endfor %}
</table>

<div class="row">
  <div class="col-md-3">
    <p class="text-right">{{ 'page-of-pages'|message(  p + 1, pages ) }}</p>
  </div>
  <div class="col-md-9">
    <ul class="pagination">
      {% if p > 0 %}
      <li><a href="{{ urlFor( route ) }}?{{ qsMerge( { 'p':(p - 1) } ) }}" id="prev">&laquo;</a></li>
      {% else %}
      <li class="disabled"><span>&laquo;</span></li>
      {% endif %}
      {% if left > 0 %}<li class="disabled"><span>&hellip;</span></li>{% endif %}
      {% for i in left .. right %}
      <li class="{{ i == p ? 'active' }}"><a href="{{ urlFor( route ) }}?{{ qsMerge( { 'p':i } ) }}" id="prev">{{ i + 1 }}</a></li>
      {% endfor %}
      {% if right < pages - 1 %}<li class="disabled"><span>&hellip;</span></li>{% endif %}
      {% if p + 1 < pages %}
      <li><a href="{{ urlFor( route ) }}?{{ qsMerge( { 'p':(p + 1) } ) }}" >&raquo;</a></li>
      {% else %}
      <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  </div>
</div>
{% endspaceless %}
{% endblock content %}
