{% extends "base.html" %}

{% block title %}{{ 'privacy'|message }} - {{ parent() }}{% endblock title %}
{% block nav_li_privacy %}class="active"{% endblock %}

{% block content %}
{% spaceless %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>{{ 'privacy'|message }}</h2>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <h3>Welcome!</h3>
    <p>Welcome to the Wikimedia Foundation’s grant review application. The grant review app is a flexible scoring system for grant administrators and volunteers to review and score grant proposals.</p>

    <h3>Definitions</h3>
    <p>For the sake of clarity, "WMF", "us", "we", and "our" refer to the <a href="http://www.wikimediafoundation.org/">Wikimedia Foundation</a>; the "app" refers to the grant review application, and the "app privacy policy" refers to this document.</p>
    <p>"Personal information" means information you provide us or information we collect from you that could be used to personally identify you. To be clear, while we do not necessarily collect all of the following types of information, we consider at least the following to be "personal information" if it is otherwise nonpublic and can be used to identify you: (a) your real name, address, phone number, email address, password, identification number on government-issued ID, IP address, user-agent information, credit card number; (b) when associated with one of the items in subsection (a), any sensitive data such as date of birth, gender, sexual orientation, racial or ethnic origins, marital or familial status, medical conditions or disabilities, political affiliation, and religion; and (c) any of the items in subsections (a) or (b) when associated with your user account.</p>

    <h3>Important Information</h3>

    <p><b>By using the app, you agree to the terms of this grant review app privacy policy and the WMF <a href="https://wikimediafoundation.org/wiki/Terms_of_Use">terms of use</a>. Furthermore, by using the app, you consent to the collection, transfer, processing, storage, disclosure, and use of your information as described in this app privacy policy.</b></p>

    <p><b>If you do not agree to these terms, you may not use this app.</b></p>

    <p>If you have any questions or suggestions about the app privacy policy or WMF terms of use, please <a href="https://wikimediafoundation.org/wiki/Contact_us">contact us</a>.</p>

    <h3>What This Policy Covers</h3>

    <p>This app privacy policy applies to our collection and handling of information about you that we receive as a result of your use of the app. As a <a href="http://www.mediawiki.org/wiki/Wikimedia_Labs">Wikimedia Labs</a> project, the grant review app is <a href="http://wikimediafoundation.org/wiki/Privacy_policy#What_This_Privacy_Policy_Does_.26_Doesn.27t_Cover">not covered</a> by the general <a href="http://wikimediafoundation.org/wiki/Privacy_policy">Wikimedia Privacy Policy</a>. This app privacy policy only applies to use of this Wikimedia grant review application and does not cover use of any other Wikimedia projects, sites, or services.</p>

    <h3>What Info We Collect</h3>
    <p>We may collect information, including but not limited to:</p>
    <ul>
      <li>User account information</li>
      <li>User-submitted information</li>
      <li>Information we collect related to your use of the app</li>
      <li>Information we receive automatically as a result of your use of the app</li>
    </ul>

    <h4>User Account Info</h4>
    <p>Your user account information includes your username, Grant App ID, Wikimedia username, email address, and any other information you submit during account creation or add to your account profile.</p>

    <dl>
      <dt>Username:</dt>
      <dd>When you create an account on the Grant App, we require you to submit your Wikimedia username. We do this so we can keep track of grant proposals that are posted publicly on <a href="https://meta.wikimedia.org/wiki/Main_Page">Meta-Wiki</a> and are later reviewed through the grant app.</dd>
      <dt>Grant App ID:</dt>
      <dd>The Grant App ID is an auto-incremented number we use to organize grant applications in our database. The Grant App ID is automatically associated with your username and email when you create a user account using the Grant App. Other information associated with your Grant App ID may include reviews you add, questions you add, and other information you submit through use of the app.</dd>
      <dt>Email Address:</dt>
      <dd>When you create an account on the Grant App, we require you to submit your email address. We may use your email address to send you: (1) account-related information (e.g., sending you links to change your password); (2) information related to Wikimedia grants, sites, or activities; and (3) survey, feedback, or other research-related requests.</dd>
    </dl>
    <p>Your username, Grant App ID, and email address will be visible to Wikimedia staff, contractors, and admins. You can change your username at any time. You can also choose to remove your username and email address from our database, if you don’t want that information stored in the app anymore. This would effectively delete your account, and you would no longer be able to log in with that account.</p>

    <h4>User-Submitted Info</h4>
    <p>The purpose of the app is to better facilitate the grant review process through information you submit to the app. Therefore, we collect any information you share with us through the app, including information in reviews and grant proposals, as well as text and number ratings.</p>
    <p>We use this information to facilitate the grant review process. This includes storing grant proposals, providing tools to review and score proposals, and analyzing data for grant determinations. Text and number scores you submit in reviews may be released publicly.</p>

    <h4>Info We Collect Related to Your Use of the App</h4>
    <p>We want to make this app useful for you to use. For this reason, we actively collect some types of information with commonly used technologies, including a variety of "locally stored data" technologies, such as cookies and local storage.</p>
    <p>We use this information to make your experience with the grant review app safer and better, to gain a greater understanding of your preferences and how you use the app, and to generally improve the app and our services.</p>

    <h4>Info We Collect Using Tools</h4>
    <p>Because of how browsers work and similar to other major websites, we receive some information automatically when you use this app. This information may include, but is not limited to, the type of device you are using, the type and version of your browser, your browser's language preference, the type and version of your device's operating system, in some cases the name of your internet service provider or mobile carrier, the website that referred you to the app, which pages you request and visit, and the date and time of each request you make to the app.</p>
    <p>We use this information to enhance your experience with the app. For example, to administer the app, provide greater security, customize content, test features to see what works, improve performance, understand how you interact with the app and features, and analyze trends.</p>

    <h3>When May We Share Your Information?</h3>
    <p>To the extent such information can be used to identify you, your email address, nonpublic personal information about you collected through the use of data collection tools, and information we receive automatically is kept confidential except as otherwise stated within this app privacy policy.</p>
    <p>There are certain, limited circumstances that we may share your nonpublic personal information outside of what has been stated elsewhere in this policy. They include the following:</p>
    <ol>
      <li><i>With your permission.</i> When we have your permission to share your information.</li>
      <li><i>To maintain, improve, or understand the app.</i> We may share anonymized or aggregated information publicly or with researchers, scholars, academics, and other interested third parties. From time to time, we may also share your information with third-party developers, researchers, or service providers to maintain, improve, or understand this app, Wikimedia sites, or our operations. However, when we give access to personal information to such third parties, we put requirements, such as reasonable technical and contractual protections, in place to help ensure that these service providers treat your information consistently with the principles of this app privacy policy and in accordance with our instructions. We do not sell or rent your nonpublic information, nor do we give it to others to sell you anything.</li>
      <li><i>For legal reasons.</i> On very rare occasion, we may access, preserve, or disclose your personal information if we reasonably believe it necessary to satisfy a valid and legally enforceable warrant, subpoena, court order, law or regulation, or other judicial or administrative order. However, if we believe that a particular request for disclosure of a user's information is legally invalid or an abuse of the legal system and the affected user does not intend to oppose the disclosure themselves, we will try our best to fight it. We are committed to notifying you via email at least ten (10) calendar days, when possible, before we disclose your personal information in response to a legal demand. However, we may only provide notice if we are not legally restrained from contacting you, there is no credible threat to life or limb that is created or increased by disclosing the request, and you have provided us with an email address.</li>
      <li><i>If the organization is transferred.</i> In the extremely unlikely event that ownership of all or substantially all of the WMF changes, or we go through a reorganization (such as a merger, consolidation, or acquisition), we will continue to keep your personal information confidential, except as provided in this app privacy policy, and provide notice to you via the app or email at least thirty (30) calendar days before any personal information is transferred or becomes subject to a different privacy policy.</li>
      <li><i>To protect you, ourselves, or others.</i> We may need to share your personal information if it is reasonably believed to be necessary to: enforce or investigate potential violations of our <a href="https://wikimediafoundation.org/wiki/Terms_of_Use">Terms of Use</a> or this app privacy policy; investigate and defend ourselves against legal threats or actions; prevent imminent and serious bodily harm or death to a person; protect our organization, employees, contractors, users, or the public; or detect, prevent, or otherwise assess and address potential spam, malware, fraud, abuse, unlawful activity, and security or technical concerns. </li>
</ol>

    <h3>How Do We Protect Your Data?</h3>
    <p>We use a variety of physical and technical measures, policies, and procedures to help protect your information from unauthorized access, use, or disclosure.</p>
    <p>We strive to protect your information from unauthorized access, use, or disclosure. Unfortunately, there's no such thing as completely secure data transmission or storage, so we can't guarantee that our security will not be breached (by technical measures or through violation of our policies and procedures).</p>

    <h3>Transfer of Information to the United States</h3>
    <p>If you decide to access or use the app, whether from inside or outside of the U.S., you consent to the collection, transfer, storage, processing, disclosure, and other uses of your information in the U.S. as described in this app privacy policy. You also consent to the transfer of your information by us from the U.S. to other countries, which may have different or less stringent data protection laws than your country, in connection with providing services to you.</p>

    <h3>Our Response to Do Not Track</h3>
    <p>Because we protect all users in accordance with this app privacy policy, we do not change our behavior in response to a web browser's "do not track" signal. For more information regarding Do Not Track signals and how we handle them, please visit the main WMF Privacy Policy's <a href="https://wikimediafoundation.org/wiki/Privacy_policy/FAQ#DNTFAQ">FAQ</a>.</p>

    <h3>Changes to This App Privacy Policy</h3>
    <p>Because things naturally change over time and we want to ensure the app privacy policy accurately reflects our practices and the law, it may be necessary to modify this app privacy policy from time to time. We reserve the right to do so, and we will provide notice of such changes in a reasonable manner and time.</p>
    <p>We ask that you please review the most up-to-date version of our app privacy policy. Your continued use of this app after this app privacy policy becomes effective constitutes acceptance of this app privacy policy on your part. Your continued use of the app after any subsequent version of this app privacy policy becomes effective, following notice as outlined above, constitutes acceptance of that version of the app privacy policy on your part.</p>

    <h3>Contact Us</h3>
    <p>If you have questions or suggestions about this app privacy policy, or the information collected under this app privacy policy, please email us at privacy[at]wikimedia.org or <a href="https://wikimediafoundation.org/wiki/Contact_us">contact us</a> directly.</p>

    <h3>A Reminder</h3>
    <p><b>By using the app, you agree to the terms of this grant review app privacy policy and the WMF <a href="https://wikimediafoundation.org/wiki/Terms_of_Use">terms of use</a>. Furthermore, by using the app, you consent to the collection, transfer, processing, storage, disclosure, and use of your information as described in this app privacy policy.</b></p>
    <p><b>If you do not agree to these terms, you may not use this app.</b></p>
  </div>
</div>
{% endspaceless %}
{% endblock content %}
